<% if @article.errors.any? %>
<h2>The following errors have occurred:</h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<div class="row">
  <div class="col-md-12 form-container">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-md-2 control-label form-label-container">
          <%= f.label :title %>
        </div>
        <div class="col-md-8 form-input-container">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label form-label-container">
          <%= f.label :description %>
        </div>
        <div class="col-md-8 form-input-container">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <%= f.submit class:"btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-8">
      [ <%= link_to 'Cancel request and return to article overview', articles_path %> ]
    </div>
  </div>
</div>